.navbar{
    background-color: #404c64;
    display:none;
    color: white;
}

.sidebar{
    height: 100vh; 
    float:left;
    background-color:#404c64;
    color: white;
    box-shadow: 6px 3px 15px 2px rgba(0, 0, 0, 0.4);
    margin-right:25px;
}

.sidebarburger{
    font-size:30px;
    position: absolute;
    right:20px;
    bottom:10px
}

@media only screen and (max-width: 577px) {
    .sidebar{
        box-shadow: none;

    }
    .sidebarburger{
        display:none;
    }
    .navbar{
        display:flex
    }
}